@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;

}

p.b { 
  word-spacing: 30px;
  padding-left: 10%;
}

.container ul{

  word-spacing: 30px;
}